<h1>Welcome to the DnD Party Guide!</h1>
<h3>Join the battle by adding your own characters to the quest!</h3>

<body>
    <div>
      <div><a href="/party_members">View All Active Party Members</a></div>
      <div><a href="/login">Log In</a></div>
      <div><a href="/signup">Sign Up</a></div>
    </div>
    <div class="wrapper">

      

    </div>
</body>
